{% extends 'learning_logs/base.html' %}

{% block header %}
  <h1>Account Summary</h1>
{% endblock header %}

{% block content %}

   <div class="card border-primary text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header bg-dark border-success">
          Topic Count
    </div>
      <div class="card-body text-success">
        <p class="card-text">
          {{topic}}
        </p>
      </div>
  </div>

  <div class="card border-primary text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header bg-dark border-success">
          Entry Count
      </div>
        <div class="card-body text-success">
        <p class="card-text">
          {{entry}}
        </p>
        </div>
  </div>

<div class="card border-primary text-white bg-info mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Info card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

{% endblock content %}



