{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h1>Account Summary</h1>
{% endblock header %}


{% block content %}
   <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
    <div class="card-header">
          Topic Count
    </div>
      <div class="card-body">
        <p class="card-text">
          {{topic}}
        </p>
      </div>
  </div>
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">
          Entry Count
      </div>
        <div class="card-body">
        <p class="card-text">
          {{entry}}
        </p>
        </div>

    </div>

    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>



{% endblock content %}
