{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}

    <h3>Change password</h3>
{% endblock header %}

{% block content %}
  {% if validlink %}
    <form method="post">
      {% crsf_token %}
      {{ form.as_p }}

      <% buttons %>
      <button type="submit">Change password</button>
      <% endbuttons %>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possible because it has already been used. Please request a new password reset.
    </p>
  {% endif %}
{% endblock content %}
